{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <td>Symbole</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td>Price</td>
                    <td>Share</td>
                    <td>Kind</td>
                </tr>
            </thead>
            <tbody>
                {% for his in history %}
                <tr>
                    <td>{{his["symbole"]}}</td>
                    <td>{{his["year"]}}/{{his["month"]}}/{{his["day"]}}</td>
                    <td>{{his["hour"]}}:{{his["minute"]}}</td>
                    <td>{{his["price"]}}</td>
                    <td>{{his["share"]}}</td>
                    <td>{{his["kind"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
