{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" id="select_sell">
            <option value="None" selected disabled>None</option>
            {% for sym in symboles %}

            <option value="{{ sym }}">{{ sym }}</option>

            {% endfor %}
        </select>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
